# Logs
*.log
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.cache

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
dist
/public/pages
*.local

.env
.env.local
.env.*.local

.vite/
/previous

