name: Build and Deploy Blog

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

# concurrency:
#   group: pages
#   cancel-in-progress: false

env:
  NODE_VERSION: "24"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VITE_BASE_PATH: "/blog/"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build (pages with markdown + vite)
        run: npm run build-gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
          name: "frontend-gh-pages-artifact"
      
      - name: Deploy to Github pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact_name: "frontend-gh-pages-artifact"

